<div class="row">
  <div class="col-12">
    <mat-card>
      <h1 class="text-center">My profile</h1>
    </mat-card>
  </div>
  <div class="col-12 my-2">
    <mat-card>
      <ng-container *ngIf='user$ | async as user; else loadingUser'>
        <h6>ID : {{ user.id }}</h6>
        <h6>Name : {{ user.name }}</h6>
        <h6>Email : {{ user.email }}</h6>
      </ng-container>
      <ng-template #loadingUser>
        <mat-spinner class="mx-auto"></mat-spinner>
      </ng-template>
    </mat-card>
  </div>
</div>