<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto ">
      <mat-card>
        <mat-card-content class='p-4'>
          <h3>
            Ingresa a tu cuenta de {{ appName }}
          </h3>
          <mat-form-field class="full-width my-1">
            <input matInput type="email" placeholder="Correo electrónico">
          </mat-form-field>
          <mat-form-field class="full-width my-1">
            <input matInput type="password" placeholder="Contraseña">
          </mat-form-field>
          <button mat-button type='button' class='full-width'>Ingresar</button>
          <hr>
          <button mat-button type='button' class='full-width' (click)='loginWithGoogle()'>Ingresar con Google</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>