<div class="notification-container col-12 my-2">
    <mat-card [ngClass]='notification.type' (click)='onClose()'>
      <mat-card-header>
        <mat-card-title>
          {{ notification.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-10 col-sm-8">
            <p>{{ notification.body }}</p>
          </div>
          <div class="col-2 col-sm-4">
            <mat-icon>{{ notification.icon }}</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>