<mat-toolbar class="example-header" color='primary'>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class='ml-2' routerLink='/' style='cursor: pointer;'>{{appName}}</span>
  <span class="spacer"></span>
  <ng-container *ngFor='let action of actions'>
    <ng-container *ngIf='!!action?.children;else singleAction'>
      <button type='button' mat-icon-button [matTooltip]='action?.label' [matMenuTriggerFor]="menu">
        <mat-icon *ngIf='action?.icon'>{{ action.icon }}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type='button' mat-menu-item disabled>{{ action.label }}</button>
        <button type='button' mat-menu-item *ngFor='let childAction of action?.children'
          [routerLink]='[action.route,childAction.route]'>
          <mat-icon *ngIf='childAction?.icon'>{{ childAction.icon }}</mat-icon>
          {{ childAction?.label }}
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #singleAction>
      <button type='button' mat-icon-button [matTooltip]='action?.label' [routerLink]='action.route'>
        <mat-icon *ngIf='action?.icon'>{{ action.icon }}</mat-icon>
      </button>
    </ng-template>
  </ng-container>
  <button type='button' mat-icon-button matTooltip='Logout' (click)='logout()'>
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <!-- <app-theme-selector></app-theme-selector> -->
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'" class="example-sidenav"
    [fixedInViewport]="(isHandset$ | async)" [fixedTopGap]="(isHandset$ | async) ? 60 : 56" fixedBottomGap="0">
      <app-avatar [user]='user$ | async'></app-avatar>
    <mat-nav-list>
      <!-- ACTIONS  -->
      <ng-container *ngFor='let action of actions'>
        <!-- ACTION WITH CHILDREN TEMPLATE -->
        <ng-container *ngIf='!!action?.children?.length; else singleAction'>
          <!-- PARENT ACTION TO EXPAND CHILDREN -->
          <a mat-list-item (click)='action.showChildren = !!!action?.showChildren;'>
            <mat-icon *ngIf='action?.icon'>{{ action.icon }}</mat-icon>
            {{ action?.label }}
            <mat-icon class='ml-auto'>{{ !!action?.showChildren ? "arrow_drop_down" : "arrow_left"}}</mat-icon>
          </a>
          <!-- // PARENT ACTION TO EXPAND CHILDREN -->
          <!-- SHOW CHILDREN IF showChildren IS TRUE -->
          <ng-container *ngIf='!!action?.showChildren'>
            <!-- CHILD ACTIONS TEMPLATE -->
            <ng-container *ngFor='let childAction of action.children'>
              <a mat-list-item routerLink='{{action.route}}/{{childAction.route}}' (click)='sidenav.close()'
                routerLinkActive='active'>
                <span class='pl-5'>
                  <mat-icon *ngIf='childAction?.icon'>{{ childAction.icon }}</mat-icon>
                  {{ childAction?.label }}
                </span>
              </a>
            </ng-container>
            <!-- // CHILD ACTIONS TEMPLATE -->
          </ng-container>
        </ng-container>
        <!-- // ACTION WITH CHILDREN TEMPLATE -->
        <!-- ACTION WITHOUT CHILDREN TEMPLATE -->
        <ng-template #singleAction>
          <a mat-list-item [routerLink]="action?.route" (click)='sidenav.close()' routerLinkActive='active'>
            <mat-icon *ngIf='action?.icon;'>{{ action.icon }}</mat-icon>
            {{ action?.label }}
          </a>
        </ng-template>
        <!-- // ACTION WITHOUT CHILDREN TEMPLATE -->
      </ng-container>
      <!-- LOGOUT -->
      <a mat-list-item (click)='logout()'>
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>