@import '~@angular/material/theming';

@mixin app-navigation-theme($theme){
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-sidenav{
    // .mat-toolbar{
      // color: mat-color($accent);
      // background-color: mat-color($primary, default);
    // }
    .active{
      background-color: mat-color($background);
    }
  }

}

.active{
  background-color: rgba(0,0,0,0.05)!important;
  // color:white;
  font-weight: bold;
}


.example-container {
  position: absolute;
  top: 56px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  // padding: 7px 0px;
  // height: 100%;
  // background-color: rgba(0, 0, 0, 0.03);
  .mat-icon{
    margin-right: 10px;
    vertical-align: bottom;
  }
  button .mat-icon{
    vertical-align: middle;
  }
}

.mat-sidenav-content{
  background-color: rgba(0, 0, 0, 0.03);
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-default);
  color: white;
}

.footer {
  // height:25px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

// .sidenav-container {
//   height: 100%;
//   position: absolute;
//   // top: 56px;
//   bottom: 0px;
//   left: 0;
//   right: 0;
// }

// .sidenav {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 300px;
//   // padding: 7px 0px;
//   // height: 100%;
//   // background-color: rgba(0, 0, 0, 0.03);
//   .mat-icon{
//     margin-right: 10px;
//     vertical-align: bottom;
//   }
//   button .mat-icon{
//     vertical-align: middle;
//   }
// }

// .sidenav .mat-toolbar {
//   background: inherit;
// }

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

// .active{
//   background-color: rgba(0,0,0,0.05)!important;
//   // color:white;
//   font-weight: bold;
// }

.container{
  margin-top: 10px;
  margin-bottom: 10px;
}